.slider-header78 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.slider-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.slider-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.slider-text {
  text-align: center;
}
.slider-text1 {
  text-align: center;
}
.slider-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
}
.slider-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.slider-row-container {
  width: 100%;
}
.slider-placeholder-image {
  width: 400px;
  height: 400px;
}
.slider-placeholder-image01 {
  width: 400px;
  height: 400px;
}
.slider-placeholder-image02 {
  width: 400px;
  height: 400px;
}
.slider-placeholder-image03 {
  width: 400px;
  height: 400px;
}
.slider-placeholder-image04 {
  width: 400px;
  height: 400px;
}
.slider-placeholder-image05 {
  width: 400px;
  height: 400px;
}
.slider-placeholder-image06 {
  width: 400px;
  height: 400px;
}
.slider-placeholder-image07 {
  width: 400px;
  height: 400px;
}
.slider-placeholder-image08 {
  width: 400px;
  height: 400px;
}
.slider-placeholder-image09 {
  width: 400px;
  height: 400px;
}
.slider-placeholder-image10 {
  width: 400px;
  height: 400px;
}
.slider-placeholder-image11 {
  width: 400px;
  height: 400px;
}
.slider-row-container1 {
  width: 100%;
}
.slider-placeholder-image12 {
  width: 400px;
  height: 400px;
}
.slider-placeholder-image13 {
  width: 400px;
  height: 400px;
}
.slider-placeholder-image14 {
  width: 400px;
  height: 400px;
}
.slider-placeholder-image15 {
  width: 400px;
  height: 400px;
}
.slider-placeholder-image16 {
  width: 400px;
  height: 400px;
}
.slider-placeholder-image17 {
  width: 400px;
  height: 400px;
}
.slider-placeholder-image18 {
  width: 400px;
  height: 400px;
}
.slider-placeholder-image19 {
  width: 400px;
  height: 400px;
}
.slider-placeholder-image20 {
  width: 400px;
  height: 400px;
}
.slider-placeholder-image21 {
  width: 400px;
  height: 400px;
}
.slider-placeholder-image22 {
  width: 400px;
  height: 400px;
}
.slider-placeholder-image23 {
  width: 400px;
  height: 400px;
}
.slider-container1 {
  display: contents;
}
@media(max-width: 767px) {
  .slider-content1 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .slider-actions {
    width: 100%;
    flex-direction: column;
  }
  .slider-button {
    width: 100%;
  }
  .slider-button1 {
    width: 100%;
  }
}
